{% extends 'navbar.html' %}
{% block body %}
     <section>
      <div class="page1">
        <img src="../static/home1.jpeg"  alt="homepage_img" width="40%" align="right" style="margin-top: 5%;">
        <h1 style="padding-top:14%;margin-left: 10%;">EDCUCATE A WOMAN,</h1>
        <h1 style="margin-left: 10%;">AND YOU EDCUCATE AN </h1>
        <h1 style="margin-left: 10%;">    ENTIRE FAMILY ! </h1>
        <span> <p class ="p1" style="margin-left: 10%;">Learn from 3D Models, AR/VR, Inspirational Role Model, Skilled Teachers and much more.</p></span>
        <span> <p class ="win" style="margin-left: 10%;">EARN points and WIN exciting Prizes !!</p></span>

      </div>
     </section>
  
    
    <section>
      <div class="video"  style="margin-top: 8%;">
        <hr>
        <h2 style="margin-top: 3%;">Inspirational Womens</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dpC2jGqu4G0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin: 5%;margin-bottom: 0;"></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sKvMxZ284AA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      </div>
    </section>

    <section>
      <div class="rewards">
        <hr>
        <h2 style="margin-top: 3%;margin-bottom: 3%;">Rewards Section</h2>
        <a href="/reward"><img src="../static/reward.jpeg"  alt="reward" height="10%" width="35%" align="container-fluid" href></a>
      </div>
    </section>  
    
    <br><br><br>
    <footer class="bg-dark text-center text-white">
      <div class="container p-4">
        <div class="row">
         <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h4 class="text-uppercase">About Us</h4>
            <p>
              We are students from Reva University and we have made this 
              website for educating students (espically female) from rural area and providing 
              them with useful resources. Our aim is to gamify educational system for students
              of all ages for better understanding.
            </p>
          </div>
         
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Other Useful Resources</h5>
    
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://www.youtube.com/watch?v=dpC2jGqu4G0" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=sKvMxZ284AA" class="text-white">Link 2</a>
              </li>
             
            </ul>
          </div>
    
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Contact Us</h5>
            <ul class="list-unstyled">
              <li>
                <a href="/" class="text-white">Email us</a>
              </li>
          
             
              
            </ul>
          </div>
        </div>
      </div>
    
  
    </footer>






{% endblock body %}